<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="user-profile">    
    <div class="profile-img"> 
        <!-- <img src="assets/images/users/profile.png" alt="user"> -->
    </div>
    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> {{ userName }} <i class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Configuración </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Mi Perfil </button>
        <button mat-menu-item (click)="cerarSesion()">
            <mat-icon>exit_to_app</mat-icon> Cerrar Sesión </button>
    </mat-menu>
    
</div>
<mat-nav-list appAccordion *ngIf="cookieService.check('isLogin')">
    <mat-list-item appAccordionLink *ngFor="let menuitem of getMenus()" routerLinkActive="selected" group="{{menuitem.state}}">
        
        <a class="menu-itemsside" appAccordionToggle [routerLink]="['/admin/', menuitem.state]" *ngIf="menuitem.type === 'link'">
            <mat-icon *ngIf="typeUser===2" class="icono-menu">{{ menuitem.icon }}</mat-icon>
            <img  *ngIf="typeUser===1" src="assets/images/{{ menuitem.icon}}" class="icon_image">
            <span>{{ menuitem.name }}</span> 
            <span fxFlex></span> 
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span> 
        </a>
        
    </mat-list-item>

</mat-nav-list>