<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<ngx-spinner>
    <p style="color: white"> Cargando... </p>
</ngx-spinner>
<div class="row">
    <div class="col-md-5 col-sm-10 container-page formularios" style="margin-left: 15px;">
        <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>TIPO DE SERVICIO</ng-template>
                    <br>
                    <div>
                        <span class="span_vehiculo">
                            VEHÍCULO
                        </span>
                        <!--  <span class="margin_data">MOTOCICLETA</span>
                        <img src="assets/images/moto.png" style="margin-left:20px; width: 10%"> -->
                    </div>
                    <br>
                    <div class="row" style="text-align: center;">
                        <div class="col-4 paquetes" id="bici" (click)="selectVehiculo('bici', stepper)">
                            <img class="img_vehiculo " src="assets/images/vehiculos/bici.png">                            
                            <span class="cajas">BICICLETA</span>
                        </div>
                        <div class="col-4 paquetes" id="moto" (click)="selectVehiculo('moto', stepper)">
                            <img class="img_vehiculo" src="assets/images/vehiculos/moto.png">                            
                            <span class="cajas">MOTOCICLETA</span>
                        </div>
                        <div class="col-4 paquetes" id="camioneta" (click)="selectVehiculo('camioneta', stepper)">
                            <img class="img_vehiculo" src="assets/images/vehiculos/camioneta.png">                            
                            <span class="cajas">CAMIONETA</span>
                        </div>
                    </div>
                    <!--  <div>
                        <button mat-raised-button color="warn" matStepperNext>Next</button>
                    </div> -->
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>TAMAÑO DEL PAQUETE</ng-template>
                <br>
                <div>
                    <span class="span_vehiculo">
                        TAMAÑO:
                    </span>
                    <!--  <span class="margin_data">MOTOCICLETA</span>
                    <img src="assets/images/moto.png" style="margin-left:20px; width: 10%"> -->
                </div>
                <br>
                <div class="row" style="text-align: center;">
                    <div class="col-4 paquetes" id="sobre" (click)="selectPack('sobre', stepper)">
                        <img class="img_vehiculo" src="assets/images/document_icon.png">                        
                        <span class="cajas">Sobre</span>
                    </div>
                    <div class="col-4 paquetes" id="mediana" (click)="selectPack('mediana', stepper)">
                        <img class="img_vehiculo" src="assets/images/caja_mediana.png">                        
                        <span class="cajas">Caja Mediana</span>
                    </div>
                    <div class="col-4 paquetes" id="grande" (click)="selectPack('grande', stepper)">
                        <img class="img_vehiculo" src="assets/images/caja_grande.png">                        
                        <span class="cajas">Caja Grande</span>
                    </div>
                </div>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>DIRECCIONES</ng-template>
                    <br>
                    <div class="row">
                        <div class="col-1 from fromA">
                            <div class="badge badge-ivoy-track ng-binding badge-ivoy">
                                A
                            </div>
                        </div>
                        <div class="panel-content-info">
                            <div class="row">
                                <div class="col-12 nopadding">
                                    <input type="text" placeholder="CALLE/NÚMERO/COLONIA" required>
                                </div>
                                <div class="col-6 nopadding">
                                    <input type="text" placeholder="NÚMERO INTERIOR">
                                </div>
                                <div class="col-6 nopadding">
                                    <input type="text" placeholder="TIPO DE INMUEBLE">
                                </div>
                                <div class="col-12 nopadding">
                                    <textarea name="textarea" rows="2" placeholder="OBSERVACIONES"></textarea>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-1 from fromA">
                            <div class="badge badge-ivoy-track ng-binding badge-ivoy">
                                B
                            </div>
                        </div>
                        <div class="panel-content-info">
                            <div class="row">
                                <div class="col-12 nopadding">
                                    <input type="text" placeholder="CALLE/NÚMERO/COLONIA" required>
                                </div>
                                <div class="col-6 nopadding">
                                    <input type="text" placeholder="NÚMERO INTERIOR">
                                </div>
                                <div class="col-6 nopadding">
                                    <input type="text" placeholder="TIPO DE INMUEBLE">
                                </div>
                                <div class="col-12 nopadding">
                                    <textarea name="textarea" rows="2" placeholder="OBSERVACIONES"></textarea>
                                </div>

                            </div>

                        </div>

                    </div>

                    <br>
                    <div style="text-align: center;">
                        <button mat-icon-button class="acciones_btn" matStepperNext>
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-icon-button class="acciones_btn" matStepperPrevious>
                            <mat-icon>keyboard_return</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>INFORMACIÓN ADICIONAL</ng-template>
                    <br>
                    <div class="row">
                        <div class="col-1 from fromA">
                            <div class="badge badge-ivoy-track ng-binding badge-ivoy">
                                A
                            </div>
                        </div>
                        <div class="panel-content-info">
                            <div class="row">
                                <div class="col-12 nopadding">
                                    <input type="text" placeholder="NOMBRE DEL REMITENTE" required>
                                </div>
                                <div class="col-6 nopadding">
                                    <input type="text" placeholder="TELÉFONO 1">
                                </div>
                                <div class="col-6 nopadding">
                                    <input type="text" placeholder="TELÉFONO 2">
                                </div>
                                <div class="col-12 nopadding">
                                    <textarea name="textarea" rows="2" placeholder="OBSERVACIONES"></textarea>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-1 from fromA">
                            <div class="badge badge-ivoy-track ng-binding badge-ivoy">
                                B
                            </div>
                        </div>
                        <div class="panel-content-info">
                            <div class="row">
                                <div class="col-12 nopadding">
                                    <input type="text" placeholder="NOMBRE DEL DESTINATARIO" required>
                                </div>
                                <div class="col-6 nopadding">
                                    <input type="text" placeholder="TELÉFONO 1">
                                </div>
                                <div class="col-6 nopadding">
                                    <input type="text" placeholder="TELÉFONO 2">
                                </div>
                                <div class="col-12 nopadding">
                                    <textarea name="textarea" rows="2" placeholder="OBSERVACIONES"></textarea>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-1 from fromContent">
                            <div class="badge badge-ivoy-track ng-binding badge-ivoy">
                                $
                            </div>
                        </div>
                        <div class="panel-content-info">
                            <div class="row">
                                <div class="col-12 nopadding">
                                    <input type="text" placeholder="VALOR DEL CONTENIDO" required>
                                </div>
                                <div class="col-12 nopadding">
                                    <textarea name="textarea" class="dest" rows="2" placeholder="¿QUÉ CONTIENE EL ENVÍO?"></textarea>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-1 from fromdate">
                            <div class="badge badge-ivoy-track ng-binding badge-ivoy" style="top: 10%;">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="panel-content-info">
                            <div class="row">
                                <div class="col-6 nopadding">    
                                        <input placeholder="FECHA DE ENTREGA"  class="date_input" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" />
                                </div>
                                <div class="col-6 nopadding">    
                                    <input placeholder="HORARIO DE ENTREGA" class="date_input" type="text" onfocus="(this.type='time')" onblur="(this.type='text')" id="HOUR" />
                            </div>
                            </div>

                        </div>

                    </div>
                    <div style="text-align: center;">
                        <button mat-icon-button class="acciones_btn" matStepperPrevious>
                            <mat-icon>schedule</mat-icon>
                        </button>
                        <button mat-icon-button class="acciones_btn" matStepperNext>
                            <mat-icon>paid</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>PAGO</ng-template>
               <br>
               <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>TIPO DE SERVICIO</ng-template>                
                <div>
                    <span class="span_vehiculo">
                        TOTAL A PAGAR: 
                    </span>
                     <span class="margin_data">$180/15KM</span>                    
                </div>
                <div>
                    <span class="span_vehiculo">
                        MÉTODO DE PAGO: 
                    </span>
                     <span class="margin_data">{{checkPayment()}}</span>                    
                </div>
                <br>
                <div class="row" style="text-align: center;">
                    <div class="col-4 paquetes" id="efectivo" (click)="selectPayment('efectivo', stepper)">
                        <img class="img_vehiculo" src="assets/images/pagos/efectivo.png">
                        <br>
                        <span class="cajas">EFECTIVO</span>
                    </div>
                    <div class="col-4 paquetes" id="tarjeta" (click)="selectPayment('tarjeta', stepper)">
                        <img class="img_vehiculo" src="assets/images/pagos/tarjeta.png">
                        <br>
                        <span class="cajas">TARJETA DE CREDITO</span>
                    </div>
                    <div class="col-4 paquetes" id="kilometros" (click)="selectPayment('kilometros', stepper)" style="top: -10px">
                        <span class="km" style="font-size: min(5vh,5.7vw); font-weight: 800;">75<span style="font-size: min(2vh,2.7vw); font-weight: 400;">KM</span></span>
                        <br>
                        <span class="cajas">KILOMETROS EN CUENTA</span>
                    </div>
                </div>
                <!--  <div>
                    <button mat-raised-button color="warn" matStepperNext>Next</button>
                </div> -->
            </form>
            </mat-step>
        </mat-vertical-stepper>

    </div>
    <div class="col-md-6 col-sm-12 container-page" style="margin-left: 15px;">
        <div class="map">
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>