
  <mat-toolbar fxLayout="row"  class="toolbar-init">    
    <a  [fxShow]="true" 
    [fxShow.xs]="false"
    [fxShow.sm]="false"><i class="fa fa-envelope"></i> contacto@feuh.com.mx</a>
    <a  [fxShow]="true" 
    [fxShow.xs]="false"
    [fxShow.sm]="false" style="margin-left: 15px;"><i class="fa fa-phone"></i> +52 55 7586 8462</a>
    <span class="example-spacer"></span>
    <button  [fxShow]="true" 
    [fxShow.xs]="false"
    [fxShow.sm]="false" mat-mini-fab class="redes">
        <i class="fa fa-whatsapp"></i>
      </button>
    <button [fxShow]="true" 
    [fxShow.xs]="false"
    [fxShow.sm]="false" mat-mini-fab class="float-left redes">
        <i class="fa fa-facebook"></i>
      </button>
    <ng-container>
        <button mat-icon-button [matMenuTriggerFor]="dropMenu" [fxShow]="false" 
        [fxShow.xs]="true"
        [fxShow.sm]="true">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #dropMenu="matMenu">
            <ng-container *ngFor="let item of menuItems">
                <div [fxShow]="!item.showOnDesktop" 
                     [fxShow.sm]="!item.showOnTablet" 
                     [fxShow.xs]="!item.showOnMobile">
                    <button mat-menu-item>
                        <i class="mr fa {{item.icon}}"></i>                        
                        {{item.label}}
                    </button>
                    <mat-divider></mat-divider>
                </div>
            </ng-container>
        </mat-menu>
    </ng-container>
</mat-toolbar>
<div class="sign-in-area ptb-100">
    <div class="container">
        <div class="section-title">
            <img src="assets/images/logo_feuh.png" style="width: 35%; padding-top: 15%;" alt="logo">
        </div>

        <div class="sign-in-form">
            <form [formGroup]="userForm" (ngSubmit)="login()" novalidate>
                <div class="form-group">
                    <input type="email" formControlName="email" class="form-control" id="email" placeholder="Ingresa tu email">
                </div>

                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" id="password" placeholder="Ingresa tu password">
                </div>
            
                <div class="text-center">
                    <button mat-raised-button type="submit" color="primary" class="color_button" >Iniciar sesión</button>                    
                    <p class="account-decs">No tienes cuenta? <a (click)="registrarse()">Registrate</a></p>
                </div>
            </form>
        </div>
    </div>
</div>