<div class="sign-in-area ptb-100">
    <div class="container">
        <div class="section-title">
            <img src="assets/images/logo_feuh.png" style="width: 35%;" alt="logo">
        </div>

        <div class="sign-in-form">
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Ingresa tu email">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Ingresa tu password">
                </div>
            
                <div class="text-center">
                    <button type="submit" class="btn default-btn-one">Iniciar sesión</button>
                    <p class="account-decs">No tienes cuenta? <a routerLink="/sign-up">Registrate</a></p>
                </div>
            </form>
        </div>
    </div>
</div>