<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->

<div class="row" style="width: 100%;">
    <div class="col-md-6 col-sm-12" >
        <div class="container-fluid" >
            <ul class="breadcrumb" style="text-align: center;">
                <li class="initial"><a href="javascript:void(0);">Direcciones</a></li>
                <li class="bloqueado"><a href="javascript:void(0);">Pago</a></li>
            </ul>

            <mat-card>   
                                 
                <div class="padding">
                    <i id="vehicle-3-info" class="fa fa-info-circle ng-scope" matTooltip="El servicio en bicicleta sólo está disponible en zonas seleccionadas.
                    No aplica para entregas de 90min.
                    Para más información consulta"></i>
                    <span class="span_vehiculo">
                        VEHÍCULO
                    </span>

                    <mat-icon class="icono_bikes">two_wheeler</mat-icon> 
                    <mat-icon class="icono_bikes">directions_bike</mat-icon> 
                    <span class="margin_data">MOTO / BICI</span>
                  
                </div>                    
            </mat-card>

            <mat-card>
                <div class="padding">
                    <span class="size_data">ELIGE EL TAMAÑO DE TU PAQUETE</span>
                    <br>
                    <div class="row" style="text-align: center;">
                        <div class="col-4">
                            <img class="img_box" src="https://dmsl8ljssjhai.cloudfront.net/images/packages/sobre.png">
                            <br>
                            <span class="cajas">Sobre</span>
                        </div>
                        <div class="col-4">
                            <img class="img_box" src="https://dmsl8ljssjhai.cloudfront.net/images/packages/mediana.png">
                            <br>
                            <span class="cajas">Caja Mediana</span>
                        </div>
                        <div class="col-4">
                            <img class="img_box" src="https://dmsl8ljssjhai.cloudfront.net/images/packages/grande.png">
                            <br>
                            <span class="cajas">Caja Grande</span>
                        </div>
                    </div>
                    <!-- <div class="btn-group margin-bottom-10 text-center" style="width: 100%; display: flex; justify-content: space-around;">
                        <div>
                          <div class="text-center">
                            <span class="text-bold text-uppercase pkg-label span-ivoy text-center ng-binding">
                              <img  class="box-ivoy" src="https://dmsl8ljssjhai.cloudfront.net/images/packages/sobre.png">
                              Sobre     
                              <br class="hidden-in-mobile">
                            </span>
                            <i class="fa fa-circle-o text-center" style="color:#c8c8c8"></i>
                            <i class="fa fa-dot-circle-o text-center ng-hide" style="color:#6F1897"></i>
                          </div>
                        </div>

                        <div>
                          <div  class="text-center">
                            <span class="text-bold text-uppercase pkg-label span-ivoy text-center ng-binding">
                              <img  class="box-ivoy" src="https://dmsl8ljssjhai.cloudfront.net/images/packages/mediana.png">
                              Caja Mediana                                  
                              <br class="hidden-in-mobile">
                            </span>
                            <i class="fa fa-circle-o text-center" style="color:#c8c8c8"></i>
                            <i class="fa fa-dot-circle-o text-center ng-hide" style="color:#6F1897"></i>
                          </div>
                        </div>

                        <div>
                          <div class="text-center">
                            <span class="text-bold text-uppercase pkg-label span-ivoy text-center ng-binding span-ivoy-selct">
                              <img class="box-ivoy box-ivoy-selct" src="https://dmsl8ljssjhai.cloudfront.net/images/packages/grande.png">
                              Caja Grande                                 
                              <br class="hidden-in-mobile">
                            </span>
                            <i class="fa fa-circle-o text-center ng-hide" style="color:#c8c8c8" ></i>
                            <i class="fa fa-dot-circle-o text-center" style="color:#6F1897"></i>
                          </div>
                        </div>
                      </div> -->
                </div>
            </mat-card>

            <mat-card class="formulario">
                <div class="padding" style="text-align: center;">
                    <span class="size_data">¿DÓNDE RECOLECTAMOS?</span>
                    <br>
                                   
                </div>
            </mat-card>

            <mat-card>                           
                <div class="padding">                    
                    <div class="row">
                        <div class="col-4">
                            <button mat-stroked-button class="border_button"><mat-icon>auto_fix_high</mat-icon> Limpiar</button>
                        </div>
                        <div class="col-4">
                            <button mat-raised-button class="color_button"><mat-icon>emergency</mat-icon> Cotizar</button>
                        </div>
                        <div class="col-4">
                            <button mat-raised-button class="color_button" [disabled]="true">Siguiente <mat-icon>play_circle_outline</mat-icon></button>
                        </div>
                    </div>
                </div>                    
            </mat-card>
            
        </div>
            
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="map">
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                    ></agm-marker>
            </agm-map>

        </div>
    </div>
</div>