/* You can add global styles to this file, and also import other style files */

.span_header{
font-size: small;
cursor: pointer;
}

.icono_header{
font-size: small;    
}

/* INPUT DE ENTREGA FORMULARIO */

.mat-form-field-wrapper {      
    font-size: 16px;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    /* padding: 0em 0 0em 0 !important; */
}
/* INPUT DE ENTREGA FORMULARIO */

